{% extends '@Catalog/base.html.twig' %}
{% block title %}
    -- HOME
{% endblock %}

{% block home %}
    <header>
        <nav>
            <ul class="nav">
                <li><a href="{{ path('catalog_homepage') }}" class="icon home"><span>Home</span></a></li>
                <li><a href="{{ path('sonata_admin_dashboard') }}"><span>ADMIN</span></a></li>
                {% for value in category %}
                        <li class="dropdown">
                            <a href="{{ path('catalog_subcategories', {'name': value.name}) }}">{{ value.name }}</a>
                        </li>
                    {% endfor %}
            </ul>
        </nav>
    </header>
{% endblock %}